<template>
  <div class="hello">
    Hello
  </div>
</template>

<script>
// import io from 'socket.io';
import DynamicData from "dsy-real-time-lib";

export default {
  name: "HelloWorld",
  props: {},
  created() {
    var d = new DynamicData.DynamicData();

    d.connect(
      "750f95b049a01cdbe921bbce9fadb26b5e8e1706d89a87dde02989ce63502abf",
      function(data) {
        console.log(
          "750f95b049a01cdbe921bbce9fadb26b5e8e1706d89a87dde02989ce63502abf",
          data
        );
      }
    );
  },
};
</script>
